{% extends 'mainapp/basic.html' %}
{% load static %}

{% block title %}

StockTracker
{% endblock %}

{% block css %}
<style>
    .red {
        color: red;
    }

    .green {
        color: green;
    }

    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}
<!-- ... (previous template code) ... -->

{% block body %}
<div class="container-fluid mt-5">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="stockTable" class="table caption-top">
                    <caption>STOCK INFO</caption>
                    <thead>
                        <tr>
                            <th scope="col" class="text-center" style="white-space: nowrap">Sr No.</th>
                            <th scope="col" class="text-center" style="white-space: nowrap">Stock</th>
                            <th scope="col" class="text-center" style="white-space: nowrap">Open</th>
                            <th scope="col" class="text-center" style="white-space: nowrap">Previous Close</th>
                            <th scope="col" class="text-center" style="white-space: nowrap">Change</th>
                            <th scope="col" class="text-center" style="white-space: nowrap">Market Cap</th>
                            <th scope="col" class="text-center" style="white-space: nowrap">Volume</th>
                        </tr>

                        <!-- <tr>
                            <th scope="col" class="text-center" style="white-space: nowrap">Stock</th>
                            {% for header in headers %}
                            <th scope="col" class="text-center" style="white-space: nowrap">{{ header }}</th>
                            {% endfor %}
                        </tr> -->
                    </thead>
                    <tbody>
                        <tr scope="row">

                            {% for key, value in data.items %}
                            <td class="text-center" style="white-space: nowrap">{{ forloop.counter }}</td>

                            {% for value_dict in value %}
                            <td class="text-center" style="white-space: nowrap">{{ key }}</td>
                            <td id="{{key}}_price" class="text-center" style="white-space: nowrap">{{ value_dict.Open }}
                            </td>
                            <td id="{{key}}_prevprice" class="text-center" style="white-space: nowrap">
                                {{value_dict.PreviousClose }}</td>
                            <td id="{{key}}_change" class="text-center" style="white-space: nowrap">
                                <script>
                                    var priceElement = document.getElementById("{{key}}_price");
                                    var prevPriceElement = document.getElementById("{{key}}_prevprice");
                                    var changeElement = document.getElementById("{{key}}_change");

                                    if (priceElement && prevPriceElement && changeElement) {
                                        var change = parseFloat(priceElement.innerHTML) - parseFloat(prevPriceElement.innerHTML);
                                        changeElement.innerHTML = change.toFixed(2); // Display the change with 2 decimal places
                                    }

                                    if (change > 0) {
                                        console.log("=================");
                                        changeElement.style.color = "green";
                                        changeElement.innerHTML = "+" + change.toFixed(2);
                                    } else if (change < 0) {
                                        changeElement.style.color = "red";
                                        changeElement.innerHTML = "-" + Math.abs(change).toFixed(2); // Display positive value for negative change
                                    } else {
                                        changeElement.innerHTML = change.toFixed(2);
                                    }

                                </script>
                            </td>
                            <td id="{{key}}_cap" class="text-center" style="white-space: nowrap">{{ value_dict.MarketCap}}</td>
                            <td id="{{key}}_vol" class="text-center" style="white-space: nowrap">{{ value_dict.Volume }}
                            </td>

                            <!-- Add more columns as needed -->
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        <!-- {% for key, value in data.items %}
                        <tr scope="row">
                            <td class="text-center" style="white-space: nowrap">{{ key }}</td>
                            {% for item in value %}
                            {% for sub_key, sub_value in item.items %}
                            <td class="text-center" style="white-space: nowrap">{{ sub_value }}</td>
                            {% endfor %}
                            {% endfor %}
                        </tr>
                        {% endfor %} -->

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ room_name|json_script:"room_name" }}
<script>
    const roomName = JSON.parse(document.getElementById('room_name').textContent);
    var queryString = window.location.search;
    queryString = queryString.substring(1);
    console.log(queryString);

    const stockTable = document.getElementById('stockTable');

    const stockSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/stock/' +
        roomName +
        '/' +
        '?' +
        queryString
    );

    stockSocket.onmessage = function (e) {
        var cleanedMessage = e.data.replace(/: NaN/g, ": null");
        try {
            const data = JSON.parse(cleanedMessage);
            console.log(data);

            // Populate the table with the received data
            Object.entries(data).forEach(([key, stockData], index) => {

                var priceElement = document.getElementById(key + '_price');
                var prevPriceElement = document.getElementById(key + '_prevprice');
                var changeElement = document.getElementById(key + '_change');

                var prevprice = stockData[0].PreviousClose;
                var price = stockData[0].Open;
                var marketcap = stockData[0].MarketCap;
                var volume = stockData[0].Volume;


                prevPriceElement.innerHTML = prevprice;
                priceElement.innerHTML = price;
                document.getElementById(key+'_cap').innerHTML = marketcap;
                document.getElementById(key+'_vol').innerHTML = volume;
                var changedPrice = parseFloat(price-prevprice)
                changeElement.innerHTML = changedPrice.toFixed(2)

                
            });
        } catch (error) {
            console.error("Error parsing JSON:", error);
        }
    };

    console.log(stockSocket)
</script>
{% endblock %}

{% block jss %}
<script>

</script>
{% endblock %}
